<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="width: 100%;">
  <div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

    <!-- <div style="width: 42%; margin-top: 20px; padding: 0 8px; display: inline-block;">
      <lib-gallery [images]="data" [config]="cConf" id="1" dir="ltr"></lib-gallery>
    </div> -->
    <div class="container" style="display: inline-flex; width: 95%; margin: 0 auto; position: relative;">
      <div style="width: 50%; margin-top: 20px; padding: 0 8px;">
      <ng-swipe-core [images]="data"  dir="ltr" [config]="config"></ng-swipe-core>
      </div>
      <div style="width: 50%; margin-top: 20px; padding: 0 8px;">
      <ng-swipe-core  [images]="data"  dir="ltr"></ng-swipe-core>
      </div>
    </div>
   
    
      <div class="container">
        <div style="width: 50%; margin-top: 20px; padding: 0 8px;">
          <ng-swipe-gallery  [images]="data"  dir="ltr"></ng-swipe-gallery>
          </div>

          <div style="width: 50%; margin-top: 20px; padding: 0 8px;">
            <ng-swipe-gallery   [images]="data"  dir="ltr" [config]="cConf"></ng-swipe-gallery>
            </div>
      </div>
 
 
  <!-- <div class="container" style="display: inline-flex; width: 95%; margin: 0 auto; position: relative;" >
    
    <div style="width: 50%; margin-top: 20px; padding: 0 8px;">
      <lib-gallery [images]="data" id="3"></lib-gallery>
    </div>
   
    <div style="width: 50%; margin-top: 20px;  padding: 0 8px;">
      <lib-gallery [images]="data" [config]="cConf" dir="ltr" id="4"></lib-gallery>
    </div>
    
  </div> -->
    <!-- Add above images, config -->
    <!-- Slider config :{
      effect: swipe || fade,
      navigation,
      pagination,
      height,
      lazymode,
      thumbs: {
        config
      },
      lightbox: {
        config
      },
    }
    
    -->

    <!-- At SwiperModule component add Navigation method, pagination method -->

    <!-- Thumbmnails : {
          swipeTouch,
          navigation,
          thumbCount,
          restCount,
          lazymode,
        }
      -->


<!-- <div class="container">
  <slider-core [images]="otherImages" [config]="config" id="3"></slider-core>
</div> -->
<!-- <div class="container">
  <slider-core [images]="otherImages" [config]="config" id="3"></slider-core>
</div> -->
<!-- <div class="container">
  <slider-core [images]="otherImages" [config]="config" id="3"></slider-core>
</div> -->

